.nav-menu{
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-menu button {
    color:#000;
    /* background-color: #fbfb56; */
    border: none;
    font-size: 16px; 
    margin-right: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: #ff9c1b 0.3s ease; 
}

.nav-menu button:hover {
    color: white;
    background-color: #ff9c1b; /* Color de fondo cuando se pasa el ratón por encima */
}

.nav-menu button:active {
    background-color: red; /* Color de fondo cuando se presiona el botón */
}