body{
    background-color: #423E3B;
}
.nav-menu{
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


.nav-menu button {
    color:#fff;
    border: none;
    font-size: 16px; 
    margin-right: 10px; 
    transition: #ff9c1b 0.3s ease; 
}

.nav-menu button:hover {
    color: white;
    background-color: #ff9c1b; 
}

.nav-menu button:active {
    background-color: red;
}

.content {
    /* background-image: url('../../../assets/Imagenes-Iconos/grass-2616911_1280.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-position-y: -10px;
    background-attachment: fixed; */
    padding-top: 80px;
    min-height: 100vh;
    background-color: #423E3B;

}

h2 {
    color: #FFFECB;
    font-size: 40px;
    text-align: center;
    line-height: 1;
}

.competencia-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

.competencia {
    color: #FFFECB;
    width: calc(25% - 10px);
    background-color: #FF2E00;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}


.competencia-button {
    color: #FFFECB;
    background-color: #5448C8;
    border: none;
    font-size: 14px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 6px 12px;
}

.competencia-button:hover {
    background-color: #3a9472;
}

.competencia-button:active {
    background-color: #1e6e4a;
}

.create-button {
    display: block;
    margin: 20px auto;
    background-color: #5448C8;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.create-button:hover {
    background-color: #3a9472;
}

.create-button:active {
    background-color: #1e6e4a;
}

.container{ 
    background-color: #423E3B;
}

/* Estilos para pantallas grandes */
@media (min-width: 768px) {
    .competencia {
        width: calc(25% - 20px); /* Para tener 4 competencias por fila */
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
    .competencia {
        width: calc(50% - 20px); /* Para tener 2 competencias por fila */
    }
}
