<body>
    <div class="menu">
        <nav class="nav-menu">
            <button mat-button routerLink="/home">Inicio</button>
            
            <button mat-button routerLink="/competencias">Competencias</button>
            
            <button mat-button routerLink="/fixture">Fixture</button>

            <button mat-button routerLink="/clasificacion">Tabla de Posiciones</button>

            <button mat-button (click)="logout()">Cerrar Sesión</button>
        </nav>
    </div>

    <div class="container">
        <h1>¡Bienvenido a nuestra plataforma de<br>gestión de competiciones deportivas!</h1>

        
        <p>¡Comienza a explorar y a disfrutar de todas las emociones que el deporte tiene para ofrecer!</p>
    </div>
</body>
